.title-banner {
  background-image: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.671) 0%,
      rgba(0, 0, 0, 0.671) 100%
    ),
    url("https://res.cloudinary.com/dcpdcdfxy/image/upload/v1686507477/BannerImg/high-angle-shot-lens-headphones-gimbal-phone_1_ajk5f0.webp") !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}
