@tailwind base;
@tailwind components;
@tailwind utilities;

/* font poppins from google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.nb_border {
  border-bottom: 1px solid;
  border-color: rgba(248, 250, 252, 0.08);
}
.fb_border_color {
  border-color: rgba(248, 250, 252, 0.08);
}

.swal2-confirm {
  background-color: rgb(77 191 123 / var(--tw-bg-opacity)) !important;
  outline: none;
  border: none;
}
.swal2-popup {
  @apply bg-white dark:bg-slate-800;
}
.swal2-title {
  @apply text-dark-grey dark:text-white;
}
.swal2-html-container {
  @apply dark:text-gray-300;
}
